/* enlever toutes les marges internes et externes par défaut */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ************ACCUEUIL*********** */
/* Uniquement utilisé pour le responsive */
.menu{
    display: none;
}
body {
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.6;
    
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-kobyt {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
}

.logo-kobyt span {
    color: orange;
}

/* ALigner horizontalement la navbar avec un espacement de 30px */
nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    font-weight: 500;
    transition: color 0.3s;
}
/* Je veux qu'au survol d'une des rubriques ceux-ci prennent la couleur orange avec un temps de 0.3s */
nav a:hover {
    color: orange;
}


.icons_header i {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

/*SECTION BIENVENUE*/
/* background-repeat: no-repeat; ne pas que l'image se répète 
lorsqu'il n'y a plus de place

background-size: cover; l'image prend l'entièreté de son élément parent  
*/
.Bienvenue {
    background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    color: #fff;
}

.Bienvenue h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.Bienvenue a {
    background-color: orange;
    color: #fff;
    padding: 15px 30px;
    transition: all 0.3s;
}
/* Au survol du lien on a une couleur orange plus foncée ainsi que la reduction de l'échelle (taille) */
.Bienvenue a:hover {
    background-color: rgb(241, 117, 72);
    transform: scale(0.95);
}

/*APERÇU COLLECTIONS*/
.apercu_collections {
    padding: 80px 60px;
    text-align: center;
}

.apercu_collections h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
/* Disposer les éléments en 4 colonnes d'une fraction */
.Categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.Categories div {
    height: 220px;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Categories div:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Categories div:first-child{
    background-image: url("https://images.unsplash.com/photo-1480429370139-e0132c086e2a?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}

.Categories div:nth-child(2){
    background-image: url("https://images.pexels.com/photos/33928025/pexels-photo-33928025.jpeg");
    
}

.Categories div:nth-child(3){
    background-image: url("https://images.pexels.com/photos/1068205/pexels-photo-1068205.jpeg");
    
}

.Categories div:nth-child(4){
    background-image: url("https://images.pexels.com/photos/35263488/pexels-photo-35263488.jpeg");
    
}


.Categories div p{
    position: relative;
    top: 160px;
    left:30px;
    color: white;
    font-weight: 900;
}



/*ARTICLES POPULAIRES*/
.Articles_populaires {
    padding: 80px 60px;
}

.Articles_populaires h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.populaires {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.populaires .p1, .populaires .p2, .populaires .p3, .populaires .p4, .populaires .p5, .populaires .p6, .populaires .p7, .populaires .p8{
    border-radius: 23px;
    
}
.populaires div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 350px;
    margin: auto;
}

.populaires p {
    margin-bottom: 10px;
}

/* Tous les prix */
.prix {
    font-weight: bold;
}
/* Tous les boutons "ajouter au panier" */
.ajouter_au_panier {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    transition: transform 0.5s ,background 0.3s;
}

.ajouter_au_panier:hover {
    background-color: rgb(225, 97, 51);
    transform: scale(0.9);
}

/*ANNONCE*/
.annonce {
    background-color: #eee;
    padding: 80px 60px;
}

.annonce > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.gauche h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.gauche a {
    display: inline-block;
    margin-top: 20px;
    background-color: #ff9900;
    color: #fff;
    padding: 12px 25px;
}

.gauche a:hover{
    background-color: rgb(225, 97, 51);
}

/*AVIS CLIENTS*/
.avis_clients {
    padding: 80px 60px;
    background-color: #fff;
}

.avis_clients h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.avis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.avis div {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.info img{
    border-radius: 50%;
}
.info i {
    color: gold;
}

/*FOOTER*/
footer {
    background-color: #111;
    color: #eee;
    padding: 40px;
}
.footer2 a{
    color: white;
}
.footer1{
    background-color: rgb(30, 29, 29);
    padding: 8px 0px;
}

.footer1,
.footer2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

footer h2 {
    margin-bottom: 15px;
}

.footer2 .f-boutique, .footer2 .f-Aide_Services, .footer2 .f-informations{
    display: flex;
    flex-direction: column;

}
.footer2 p{
    font-weight: bolder;
}
.footer2 a {
    display: inline;
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

footer a:hover {
    color: orange;
}

.newsletter input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    
}

.newsletter button {
    background-color: black;
    color: white;
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    font-size: 16px;

}

.newsletter button:hover {
    background-color: orange;
    color: black;
}
.reseaux_sociaux i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.reseaux_sociaux i:hover{
    transform: translateY(-10px);
}
.reseaux_sociaux .rs{
    display: flex;
    justify-content: center;
    align-items: center;
}



hr {
    margin: 30px 0;
    border: 1px solid #333;
}

footer p {
    font-size: 19px;
    text-align: center;
}


/*RESPONSIVE*/
/* Pour tous les écrans dont la largeur maximale est égale à 
1024px */
@media screen and (max-width: 1024px) {
    .Categories, .populaires, .avis {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .annonce > div {
    flex-direction: column;
    text-align: center;
    }
}
/* Pour tous les écrans dont la largeur maximale est égale à 
767px */
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    nav ul {
        display: none;
    }
    .menu{
        display: block;

    }
    .menu details ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .Categories,
    .populaires,
    .avis,
    .footer1,
    .footer2 {
        grid-template-columns: 1fr;
        margin: auto;
    }

    .Bienvenue {
        padding: 40px;
        text-align: center;
    }

    .Bienvenue h2 {
        font-size: 32px;
    }
}

/* ***********BOUTIQUE************* */
/* FILTRES */
/* Stabiliser le filtre en haut */
.filtre .cat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    border: 1px solid;
    border-radius: 10px;
    height: 39px;
    width: 50%;
    margin: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border: none;
    background-color: #d16c0e;
    position: fixed;
    left: 460px;
    z-index: 100;
}


.filtre .cat .cat2{
    position: relative;
    padding: 10px 0;
}
.filtre .cat .cat3{
    position: relative;
    padding: 10px 0;
}
.filtre .cat .cat4{
    position: relative;
    padding: 10px 0;
}
.filtre .cat a:hover{
    color: white;
}



.filtre .cat2:hover .sous-cat{
    display: block;
}
.filtre .cat3:hover .sous-cat{
    display: block;
}
.filtre .cat4:hover .sous-cat{
    display: block;
}

/* Mettre toutes les sous-catégories en position relative pour pouvoir se positionner par rapport à leur élément parent */
.filtre .sous-cat{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    padding: 20px 10px;
    line-height: 30px;
    background-color: #d16c0e;
    border-top: 3px solid #f8f8f8;
    width: 200px;
    transition: all 0.3s;
    border-radius: 10px;
}
.filtre .sous-cat li{
    transition: transform 0.375s linear;
}
.filtre .sous-cat li:hover{
    transform: translateX(7px);
}
/* GALERIE DE LA BOUTIQUE */
.main-boutique{
    padding: 80px 60px;
}

.main-boutique h2{
    margin-bottom: 18px;
}

.contenu_galerie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #fdfdfd;
    border-radius: 18px;
    padding: 40px 20px;
    margin-bottom: 60px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


.contenu_galerie div{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.def{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    position: relative;
    top: 33px;
}
.def p:nth-child(3){
    border: 1px solid;
    padding: 9px;
}

/* GALERIE HOMME */
.contenu_categories{
    background-color: #fdfdfd;
    border-radius: 18px;
    padding: 40px 20px;
    margin-bottom: 60px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.galerie h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    letter-spacing: 3px;
}

.galerie h3 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
    position: relative;
}
/* Mettre une barre spéciale en bas de chaque titre de section */
.galerie h3::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: orange;
    display: block;
    margin:  auto ;
    border-radius: 2px;
}


/* HAUTS, BAS, TENUES & STYLES, VESTES & MANTEAUX */
/* Mettre les éléments en grille et répéter un modèle de colonne qui a minimum : 220px et maixmum 1fr (fraction de l'espace disponible).
Avec "auto-fit" le navigateur calcule automatiquement combien de colonnes peuvent tenir dans une largeur d'écran
*/
.contenu_categories .Hauts, .contenu_categories .Bas, .contenu_categories .Tenues_Styles, .contenu_categories .Vestes_Manteaux{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    padding: 30px;
}

/* Redimensionner l'image */
.contenu_categories .Hauts img, .contenu_categories .Bas img, .contenu_categories .Tenues_Styles img, .contenu_categories .Vestes_Manteaux img{
    height: 400px;
    width: 100%;
}

.contenu_categories div{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.Hauts div:hover, .Bas div:hover, .Tenues_Styles div:hover, .Vestes_Manteaux div:hover {
    transform: translateY(-7px);
}


